.login-card-body {
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.login-card-body > h2 {
  height: 3rem;
  background-color: #3b71ca;
  color: white;
  text-align: center;
}

.container {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: center;
  transition: all 300ms ease-in-out;
}

/* .loading-gif-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.loading-gif-container > img {
  height: 7rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/2465434.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  border-radius: 20px;
  width: 25%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.loginBackGroundColor {
  background-color: #fff;
}

.container > img {
  cursor: pointer;
  margin-top: -4.5rem;
  height: 7rem;
  width: 8rem;
  border-radius: 50%;
}
